
  <div class="body">




    <div  class="form-background">

     <form #f="ngForm" (ngSubmit)="login(f)" >
       <div class="alert alert-danger " *ngIf="" >E-mail</div>
        <input  ngModel name="email"   #email="ngModel"  type="email" class="form-control mb-3" placeholder="Email" required email>
        <div class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
        <div class="alert alert-danger mt-3" *ngIf="email.touched && email.errors?.email">Your input doesn't match email format</div>


        <input  ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password" required minlength="6">
        <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password is required</div>
        <div class="alert alert-danger mt-3" *ngIf="password.touched && password.errors?.minlength">Password should be 6+ characters</div>

        <button  class="btn btn-primary mt-3" [disabled]="f.invalid"
        >Login</button>
        <div class="sigin">
             <p>Not registred ?</p>

              <a   class="nav-link"   routerLink='/signup' routerLinkActive="active"  >
                  Create an account
               </a>
        </div>




     </form>

   </div>

    </div>


