

body{
  background-color: slateblue;
}






@media all and (max-width: 1000px){


  /* le style de se connecter*/
  .btn-danger {
    color:black !important;
    background-color: red !important;
    border-color: #ffffff !important;
    border: none !important;
    position: relative;


  }




}
